form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
#submit{
    width: 50px;
    height: 50px;
}
#button{
    background-color: blue;
}
#button:hover{
    background-color: black;
}